.footer {
      position: absolute;
      bottom: 2rem;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding: 2rem 0;
      width: 100%;

      &-container {
            display: flex;
            justify-content: space-between;
      }

      &-follow {
            text-align: right;
      }

      &-item {

            p {
                  color: gray;
                  margin: 0;
                  font-size: 1.6rem;
            }

            .follow-socia {
                  display: flex;

                  li {
                        padding-left: 1.5rem;
                        display: inline-block;
                  }
            }

            #fb::before {
                  display: inline-block;
                  content: '';
                  border-radius: 100%;
                  height: 4px;
                  width: 4px;
                  margin-right: 6px;
                  background: #3b5998;
            }


            #ig::before {
                  display: inline-block;
                  content: '';
                  border-radius: 100%;
                  height: 4px;
                  width: 4px;
                  margin-right: 6px;
                  background: #fcaf45;
            }


            #tw::before {
                  display: inline-block;
                  content: '';
                  border-radius: 100%;
                  height: 4px;
                  width: 4px;
                  margin-right: 6px;
                  background: #55acee;
            }


            #yt::before {
                  display: inline-block;
                  content: '';
                  border-radius: 100%;
                  height: 4px;
                  width: 4px;
                  margin-right: 6px;
                  background: #c4302b;
            }

      }
}